.footer {
    background-image: url('../assets/img/footer-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background: linear-gradient(90deg, rgb(106, 28, 186) 0%, rgb(185, 161, 225) 33.33%, rgb(81, 103, 234) 66.66%, rgb(220, 79, 201, .6) 100%); */
  
  }

  #fLogo {
    align-items: center;
    justify-content: center;
  }

   /* logo on small screens */
   @media (max-width: 767px) {
    #fLogo  {
    height: 20%;
    width: 100%;
    padding: 0%;
    align-items: center;
    justify-content: center;
    transform: translateY(90px);
    }
  }

  .social-icons-footer-only{
    display: inline-block;
  } 

 /* icon links */
 .social-icons-footer-only a {
    width: 42px;
    height: 42px;
    background: rgba(217, 217, 217, 0.1);
    display: inline-flex;
    border-radius: 50%;
    margin-right: 6px;
    align-items: center;
    justify-content: center;
    line-height: 1;
    border: 1px solid rgba(255, 255, 255, 0.5);
  }

   /* icons links after hovering */
   .social-icons-footer-only a::before {
    content: "";
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.3s ease-in-out;
  }
  .social-icon-footer-only a:hover::before {
    /* make icon bigger when hovering */
    transform: scale(1);
  }
  /* images inside of icons */
  .social-icons-footer-only a img {
    width: 40%;
    z-index: 1;
    transition: 0.3s ease-in-out;
  }
  /* brightness when hovering over icons */
  .social-icons-footer-only a:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%)
      hue-rotate(346deg) brightness(95%) contrast(86%);
  }

  /* copyrite text */
  .footer p {
    font-size: 14px;
    color: #B8B8B8;
    letter-spacing: 0.5px;
    margin-top: 20px;
    padding-bottom: 15px;
  }